.emailCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    width: 90%;
    padding: 1rem;
    background-color: rgba(200, 200, 200, 0.4);
    backdrop-filter: blur(15px);
    place-self: center;
}

.emailForm{
    margin: 0.5rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    background-color: white;
    border: 1px black solid;
    padding: 0 1rem;
    color: black;
    min-height: 1.7rem;
    min-width: 60%;
    margin-bottom: 1.2rem;
}

button{
    min-width: 5vw;
    min-height: 3.2rem;
    background-color: black;
    color: white;
    border: none;
    font-size: var(--font-M1);
    padding: 0.5rem;
}