div{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    color: black;
}

.dxmSpecial{
    position: absolute;
    min-width: 40vw;
    min-height: 15vh;
    bottom: 5rem;
    height: 5rem;
    margin: 1rem;
}