
.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  width: 100%;
  height: 100%;
  font-family: var(--font-geist-sans);
  background: linear-gradient(0deg, rgba(214, 214, 214, 1) 0%, rgba(255,255,255,1) 24%, rgba(255,255,255,1) 98%);
  overflow: hidden;
/*   background-image: url("/img/bg.webp");
  background-repeat: no-repeat;
  background-size: cover; */
}

.main{
  grid-template-columns: repeat(auto-fill, 2vw);
  grid-template-rows: repeat(auto-fill, 1%);
  width: 100%;
  height: 100%;
  display: grid;
  overflow: hidden;
}

.footer{
  height: 8%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 7%;
}

.title{
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  width: 100%;
  z-index: 15;
  color: black;
  
}

.prodImage{
  min-width: 50vh;
  max-width: 60%;
  min-height: 50vh;
  max-height: 50%;
/*   grid-row: 15 / span 50;
  grid-column: 21 / span 10; */
  
  position: absolute;
  justify-self: center; 
  object-fit: contain;
}

.prodDesc{
  width: calc(100% - 4 rem);
  height: 100%;
  grid-row: 50 / span 38;
  grid-column: 2 / -2;
  padding: 1rem 2rem;
  margin: 0 2rem;
  border-radius: 1rem;
  background-color: rgba(150,150,150,0.3);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(200,200,200,0.5);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
  font-size: var(--font-M1a);
}

.prodDesc>div>span{
  text-align: justify;
  width: 100%;
  display: inline-block;
}

.prodDesc>div>ul>li{
  width: 100%;
  padding: 0.2rem;
}

.buttonEnv{
  color: rgb(37, 170, 66);
  background-color: rgba(150,150,150,0.1);
  backdrop-filter: blur(15px);
  border: 3px solid rgba(3, 255, 58, 0.863);
  border-radius: 0.5rem;
  padding: 0.6rem;
  font-size: var(--font-M1);
  font-weight: 700;
  min-width: 40%;
  margin: 0 0.5rem;
}

.buttonEnv:nth-of-type(2){
  color: rgb(255, 0, 34);
  border: 3px solid rgba(255, 7, 7, 0.863);
}

.buttonEnv:focus{
  filter: drop-shadow(0 0 2px white);
  color: white;
}

@media (orientation: portrait) and (max-height: 700px) {
  .prodDesc{
    font-size: var(--font-M2);
  }
  
}
